<div class="col-12 my-4">
    <h3>Lista de Palavras</h3>
    <hr/>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2">
            @for (w of (words$ | async); track w.id) { 
                <div class="col">
                    <input 
                        type="text" 
                        class="form-control text-center input-word-list" 
                        [value]="w.word.charAt(0).toUpperCase() + w.word.slice(1)" 
                        disabled
                    />
                </div>
            }
        </div>
    <hr/>
</div>            

