<app-navbar></app-navbar>
<div class="container-lg my-5 bg-white rounded shadow p-4">
  @if (!( startGame$ | async )) {
    <app-home-screen></app-home-screen>
  } @else {
    <app-game-header></app-game-header>
    <hr />
    @if (loading$ | async) {
      <div class="text-center my-4">
        <div class="spinner-border color-orange" role="status"></div>
        <h5 class="mt-3">Carregando palavras...</h5>
      </div>
    }
    @else if (errorSearchingForWords$ | async) {
      <div class="col-12 d-flex justify-content-center">
        <div class="col-md-6 text-bg-danger text-center p-2 rounded shadow-sm">
            <span class="h6">
                <i class="bi-x-circle-fill me-2"></i> {{ errorMessage$ | async }}
            </span>
        </div>
      </div>
    }
    @else {
        <app-score></app-score>
        <app-time-bar></app-time-bar>
      @if (showWordList$ | async) {
        <app-word-list></app-word-list>
      } 
      @else if(showWordForm$ | async) {
        <app-word-form></app-word-form>
      }
    }
  }
</div>
