<nav class="navbar navbar-expand-lg bg-white shadow-sm fixed-top">
  <div class="container-lg">
    <a class="navbar-brand" routerLink="/jogo">
      <h4>
        <span class="color-purple">Strong</span><span class="color-orange">Memory</span>
      </h4>
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/jogo" routerLinkActive="active">Jogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jogador" routerLinkActive="active">Jogador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/palavras" routerLinkActive="active">Palavras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sobre" routerLinkActive="active">Sobre</a>
        </li>
      </ul>
      <div class="ms-lg-auto mt-3 mt-lg-0 text-end">
        <button class="btn btn-danger"><i class="bi-box-arrow-in-left"></i> Sair</button>
      </div>
    </div>
  </div>
</nav>
<div class="invisible py-4"></div>