.nav-link{
    font-size: 16px !important;
    font-weight: 500 !important;
    color: black !important;
    border-bottom: 1px solid transparent !important;
}

.nav-link:hover,
.nav-link.active{
    color: var(--purple) !important;
    border-bottom: 1px solid var(--orange) !important;
    transition: 0.3;
}